.App {
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
}

.cabecalho {
  padding: 30px 30px 20px 30px;
  color: white;
  background-color: rgb(39, 43, 51);
  margin-bottom: 20px;
}

a {
  margin: 0 5px;
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: none;
  color: #4288ce;
}

.filtros {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 10px;
  color: black;
  background-color: white;
  flex-wrap: wrap; /* quebra em telas menores */
  margin-top: 10px;
  border-radius: 4px;
  font-style: italic;
}

.filtros div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.filtro span {
  margin: 0 5px;
  padding: 5px;
  border-radius: 25px;
  background-color: rgb(39, 43, 51);
}

.filtro span:hover {
  text-decoration: none;
  color: #4288ce;
}

.filtro-ativo {
  color: #4288ce;
}

.filtros-titulo {
  font-size: 20px;
  font-weight: bold;
}

.filtro {
  margin: 10px;
}

.lista-principal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.lista-secundaria {
  margin-top: 10px;
}

.card {
  height: fit-content;
  color: #ffea00;
  overflow: hidden;
  background-color: rgb(60, 62, 68);
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  width: 200px;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.char {
  width: 20%;
}

.char img {
  width: 100%;
}

.char h2 {
  padding: 15px;
}

.char-info span {
  padding: 5px;
}

.char-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.episodios {
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.episodios span {
  display: inline-block;
  margin: 2px 5px;
  padding: 2px 5px;
  background-color: #ffea00;
  color: rgb(6, 11, 255);
  border-radius: 4px;
}

.episodios-lista span {
  display: inline-block;
  margin: 0 5px 5px 0;
  padding: 3px 7px;
  background-color: #555;
  border-radius: 12px;
  font-size: 0.9em;
}
li {
  list-style: none;
  width: 70px;
  height: 70px;
}

li img {
  width: 70px;
  height: 70px;
  border-radius: 100px;
  background-color: aliceblue;
}

h5 {
  padding: 15px;
}

h1,
h2,
h4,
h5 {
  margin: 0;
}

.botao-toggle {
  margin-top: 5px;
  background: #ffea00;
  color: rgb(6, 11, 255);
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
}
